@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

body {
  background-color: f0f0f0;
  font-family: 'Inter', sans-serif;
  color: black;
}
.App {
  margin: 0 auto; 
  width: 50%; 
}
/*-------------General-------------*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

/*-------------Header-------------*/
.header-name {
  display: inline-block;
  font-size: 1.17em;
  font-weight: 600;
  text-align: left;
}

.header-title {
  display: inline-block;
  font-size: 1.17em;
  font-weight: 400;
}

.header-links {
  display: inline-block;
  justify-content: right;
  align-items: right;
}

.h-spacer {
  margin-right: 40%;
  font-size: 1.17em;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.h-location {
  display: block;
  display: flex;
  justify-content: space-between;
}

/*-------------Body-------------*/
.body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 20%;
}

.projects {
  margin-top: 30%;
}



